# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
parameters:
  - name: tag
    displayName: Select tag
    type: string
    default:
    values:
    - 1.4
trigger:
- none

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo "Hello World"
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: file-creator@5
  inputs:
    fileoverwrite: true
    skipempty: true
    filepath: 'tag.vars'
    filecontent: |
     tag = "${{ parameters.tag }}"
    endWithNewLine: true

- task: CopyFiles@2
  inputs:
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'